<h2>Font size editor 1</h2>

<div>
  <label>Enter font size (px):</label>
  <input #element type="range" min="9" max="72" value="18" (change)="changeFontSizeValue(element.value)">
</div>

<p class="output" [style.fontSize.px]="fontSize">
  This is a paragraph.
</p>

<hr>

<h2>Font size editor 2</h2>

<div>
  <label>Enter font size (px):</label>
  <input type="range" min="9" max="72" value="18" [(ngModel)]="fontSize">
</div>

<p class="output" [style.fontSize.px]="fontSize">
  This is a paragraph.
</p>
