<!--<app-font-size-editor></app-font-size-editor>-->
<!--<app-pet></app-pet>-->
<!--<app-using-bootstrap></app-using-bootstrap>-->
<!--<app-calculator></app-calculator>-->
<!--<app-article></app-article>-->
<!--<app-name-card cardName="Professional Dev" email="prodev@codegym.vn" phone="0123456789"></app-name-card>-->
<!--<app-progress-bar progress="0"></app-progress-bar>-->
<!--<app-rating-bar></app-rating-bar>-->
<!--<app-countdown-timer time="10"></app-countdown-timer>-->
<app-todo></app-todo>
