
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <p>
    <label for="email">Email </label>
    <input type="text" id="email" name="email" formControlName="email">
  </p>
  <div
    *ngIf="!registerForm.controls.email?.valid && (registerForm.controls.email?.dirty
    ||registerForm.controls.email?.touched)">
    Email is not valid
  </div>

  <p>
    <label for="email">Password </label>
    <input type="password" id="password" name="password" formControlName="password">
  </p>
  <div
    *ngIf="!registerForm.controls.password?.valid && (registerForm.controls.password?.dirty
    ||registerForm.controls.password?.touched)">
    Password is not valid
  </div>

  <p>
    <label for="confirmPassword">Confirm Password </label>
    <input type="text" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword">
  </p>
  <div
    *ngIf="!registerForm.controls.confirmPassword?.valid && (registerForm.controls.confirmPassword?.dirty
    ||registerForm.controls.confirmPassword?.touched)">
    Confirm Password is not valid
  </div>

<!--  <p>-->
<!--        <label for="country">country </label>-->
<!--        <select id="country" name="country"  formControlName="country">-->
<!--          <option [ngValue]="c.id" *ngFor="let c of countryList">-->
<!--          </option>-->
<!--        </select>-->
<!--  </p>-->


  <p>
    <label for="gender">Gender </label>
    <input type="radio" value="male" name="gender" formControlName="gender"> Male
    <input type="radio" value="female" id="gender" name="gender" formControlName="gender"> Female
  </p>

  <p>
    <label for="isMarried">Married </label>
    <input type="checkbox" id="isMarried" name="isMarried" formControlName="isMarried">
  </p>

<!--  <div *ngIf="name.invalid && (name.dirty || name.touched)"-->
<!--         class="alert">-->

<!--  <div *ngIf="name.errors?.['required']">-->
<!--    Name is required.-->
<!--  </div>-->
<!--  <div *ngIf="name.errors?.['minlength']">-->
<!--    Name must be at least 4 characters long.-->
<!--  </div>-->
<!--  <div *ngIf="name.errors?.['forbiddenName']">-->
<!--    Name cannot be Bob.-->
<!--  </div>-->

<!--</div>-->


  <p>
    <button type="submit" [disabled]="!registerForm.valid">Submit</button>
  </p>

</form>
